* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 1600px;
}

/* HERO SECTION */

.hero {
  height: 304px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
/* .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.heading {
  font-size: 2.5rem;
  color: #28283d;
  width: 300px;
  text-align: center;
}
.para {
  font-size: 1.2rem;
  color: #87879d;
  text-align: center;
  line-height: 2rem;
}
.buttons {
  width: 348px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.button1 {
  height: 58px;
  width: 193px;
  background-color: #4d96a9;
  border-radius: 30px;
  color: white;
  font-size: 1.1rem;
  span {
    color: #8fe3f9;
  }
}

.button2 {
  height: 58px;
  width: 139px;
  border-radius: 30px;
  color: white;
  background-color: #855fb1;
  font-size: 1.1rem;
}

.hero-img-left {
  position: absolute;
  left: 0;
}

.hero-img-right {
  position: absolute;
  right: 0;
}

.line1 {
  height: 140px;
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  height: 84px;
  width: 1px;
  background-color: #87879d;
}
.no {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 1px solid #87879d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.main-img {
  height: 242px;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-pic1 {
  height: 242px;
  width: 255px;
  background-image: url(image-woman-in-videocall.jpg);
  background-size: cover;
  border-radius: 10px;
}

.main-pic2 {
  height: 242px;
  width: 255px;
  background-image: url(image-women-videochatting.jpg);
  background-size: cover;
  border-radius: 10px;
}

.main-pic3 {
  height: 242px;
  width: 255px;
  background-image: url(image-men-in-meeting.jpg);
  background-size: cover;
  border-radius: 10px;
}

.main-pic4 {
  height: 242px;
  width: 255px;
  background-image: url(image-man-texting.jpg);
  background-size: cover;
  border-radius: 10px;
}

.main-box {
  height: 240px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.box-1 {
  color: #4d96a9;
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.box-2 {
  color: #28283d;
  font-size: 2.5rem;
  width: 445px;
  text-align: center;
}

.box-3 {
  color: #87879d;
  font-size: 1.1rem;
  width: 540px;
  text-align: center;
  line-height: 1.6rem;
}
.no {
  color: #87879d;
}

/* FOOTER SECTION */

.footer-img {
  width: 100vw;
  height: 308px;
  margin-bottom: 10px;
  background-size: cover;
  background-image: url(image-footer.jpg);
}

.image-overlay {
  width: 100vw;
  height: 308px;
  background-color: rgba(77, 150, 169, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box {
  height: 88px;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer1 {
  height: 100%;
  width: 350px;
  color: #fafafa;
  font-size: 2.5rem;
}

.footer2 {
  height: 100%;
  width: 350px;
  color: #fafafa;
  font-size: 1.1rem;
}

.button3 {
  width: 193px;
  height: 58px;
  background-color: #855fb1;
  border-radius: 30px;
  color: white;
  font-size: 1.1rem;
  span {
    color: #d9b8ff;
  }
}

.button1:hover {
  background-color: #71c0d4;
}

.button2:hover {
  background-color: #b18bdd;
}
.button3:hover {
  background-color: #b18bdd;
}
